<ons-toolbar>
  <div class="center">レジ</div>
  <div class="right">
    <button mat-mini-fab color="accent">登録</button>
    <button mat-mini-fab color="warn" (click)="clear()">消去</button>
  </div>
</ons-toolbar>

<div class="background"></div>
<div class="content" id="regi-page">
  <mat-card id="inputhead">
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
      <mat-form-field>
        <input matInput placeholder="預かり額" numberInput [(ngModel)]="azu" #elAzu>
      </mat-form-field>
      <mat-form-field>
        <input matInput style="font-weight:bold" readonly="readonly" placeholder="合計額(うち消費税)" value="{{listservice.sum | number}}({{listservice.zei | number}}) ">
      </mat-form-field>
      <mat-form-field>
        <!-- <input matInput type="number" readonly="readonly" placeholder="お釣り" [(ngModel)]="azu - listservice.sum"> -->
        <input matInput readonly="readonly" placeholder="お釣り" value="{{azu - listservice.sum | number}}">
      </mat-form-field>
      <mat-form-field style="width:4em">
        <input matInput autofocus placeholder="消費税率" percentInput [(ngModel)]="rate">
      </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
      <mat-form-field style="width:3em">
        <input matInput type="number" placeholder="値引率" [(ngModel)]="neb" size="3">
      </mat-form-field>
      <button mat-flat-button (click)="disCount(neb)" color="warn">値引計算</button>
      <mat-form-field>
        <mat-select placeholder="顧客コード" [(value)]="cus" (selectionChange)="setKbn($event)">
          <mat-option *ngFor="let sval of custservice.getSval()" [value]="sval.value">
            {{sval.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field style="width:5em">
        <input matInput readonly="readonly" placeholder="単価区分" value="{{tkbn | tankaKbn}}">
      </mat-form-field>
      <mat-form-field style="width:3em">
        <input matInput readonly="readonly" placeholder="税区分" value="{{zkbn | zeiKbn}}">
      </mat-form-field>
    </div>
  </mat-card>
  <mat-card>
    <mat-table class="table-margin-bottom" #table [dataSource]="dataSource">
      <ng-container matColumnDef="gds">
        <mat-header-cell *matHeaderCellDef> 商品コード </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
            <input matInput [formControl]="row.validator.controls['gds']" [readonly]="!row.editing" placeholder="商品コード" [(ngModel)]="row.currentData.gds">
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="prc">
        <mat-header-cell *matHeaderCellDef> 単価 </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
            <input matInput [formControl]="row.validator.controls['prc']" numberInput placeholder="単価" [(ngModel)]="row.currentData.prc[+tkbn-1]">
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="cnt">
        <mat-header-cell *matHeaderCellDef> 数量 </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-form-field floatLabel="{{ row.editing ? 'float' : 'never'}}">
            <input matInput [formControl]="row.validator.controls['cnt']" type="number" placeholder="数量" [(ngModel)]="row.currentData.cnt">
          </mat-form-field>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="sum">
        <mat-header-cell *matHeaderCellDef> 計 </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <input matInput readonly="readonly" value="{{row.currentData.prc[+tkbn-1] * row.currentData.cnt | number}}">
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actionsColumn">
        <mat-header-cell *matHeaderCellDef>
          <!-- <button mat-icon-button color="accent" (click)="dataSource.createNew()"><i class="fa fa-plus mat-icon"></i></button> -->
        </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index;">
          <button *ngIf="!row.editing" mat-icon-button color="primary" focusable="false" (click)="row.startEdit()">
            <i class="fa fa-pencil-square mat-icon"></i>
          </button>
          <button *ngIf="row.editing" mat-icon-button color="primary" focusable="false" (click)="row.confirmEditCreate();updList(i)">
            <i class="fa fa-check mat-icon"></i>
          </button>
          <button mat-icon-button color="primary" focusable="false" (click)="row.cancelOrDelete();delList(i)">
            <i class="fa fa-times mat-icon"></i>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card>
  <mat-card>
    <mat-accordion>
      <ng-container *ngFor="let good of goodsservice.getGoods()">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            {{good.categ}}
          </mat-expansion-panel-header>
          <ng-container *ngFor="let ginfo of good.ginfo">
            <button mat-raised-button color="primary" (click)="addList(ginfo.gcode,ginfo.price)">{{ginfo.gcode}}</button>
          </ng-container>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>
  </mat-card>
</div>
