<ons-toolbar>
  <div class="center">集計</div>
  <div class="right">
    <button mat-mini-fab color="accent">CSV</button>
    <!-- <button mat-mini-fab color="warn"></button> -->
  </div>
</ons-toolbar>
<div class="background"></div>
<div class="content" id="sum-page">
  <mat-card>
    <div fxLayout="row wrap" fxLayoutAlign="space-evenly end">
      <mat-card-title>顧客コード</mat-card-title><span>支払方法</span>
    </div>
    <!-- <mat-table #table [dataSource]="dataSource" aria-label="Elements">


    </mat-table> -->
  </mat-card>
</div>
